<h1 id="coverhed" style="font-size:270px; font-variant: small-caps; text-align:center">
<div id="coverblock" style="height:60%; width:100%; margin-right:25%; margin-left:8%;
margin-top:10%; margin-bottom:50%; position:absolute; background-color:red; z-index: 1">
Thwack!<h1 id="coversubhed" style="font-size:70px; text-align:center; margin-top:-20px"> a better way to swap comics </h1></h1>
</div>


<div id="coverpics" style="margin-left:-200px; margin-right:-600px">
<img id="fadepic11" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC1_zpsb0rthi5u.jpg" alt="Action Comics 1" style="width:190px;height:260px;">
<img id="fadepic1" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC2_zpspjh4amko.jpg" alt="Action Comics 2" style="width:190px;height:260px;">
<img id="fadepic15" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC3_zpsrlq3fovj.jpg" alt="Action Comics 3" style="width:190px;height:260px;">
<img id="fadepic12" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC4_zpsdyli6lr5.jpg" alt="Action Comics 4" style="width:190px;height:260px;">
<img id="fadepic10" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC5_zpsbxmsunus.jpg" alt="Action Comics 5" style="width:190px;height:260px;">

<img id="fadepic22" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM1_zpsbukyq7jf.jpg" alt="Amazing Spider-Man 1" style="width:190px;height:260px;">
<img id="fadepic9" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM2_zpszwqw6xb1.jpg" alt="Amazing Spider-Man 2" style="width:190px;height:260px;">
<img id="fadepic2" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM3_zps9o3mefpm.jpg" alt="Amazing Spider-Man 3" style="width:190px;height:260px;">
<img id="fadepic21" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM4_zpsjgamo1zq.jpg" alt="Amazing Spider-Man 4" style="width:190px;height:260px;">
<img id="fadepic13" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM5_zpsoxwbrqth.jpg" alt="Amazing Spider-Man 5" style="width:190px;height:260px;">

<img id="fadepic3" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/SS1_zps8hcziowj.jpg" alt="Star-Spangled Comics 1" style="width:190px;height:260px;">
<img id="fadepic23" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/SS2_zpsxaiwhlxm.jpg" alt="Star-Spangled Comics 2" style="width:190px;height:260px;">
<img id="fadepic14"class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/SS3_zpsa9njbknm.jpg" alt="Star-Spangled Comics 3" style="width:190px;height:260px;">
<img id="fadepic8" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/SS4_zpsp0migedv.jpg" alt="Star-Spangled Comics 4" style="width:190px;height:260px;">
<img id="fadepic22" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/SS5_zpsubhqt42t.jpg" alt="Star-Spangled Comics 5" style="width:190px;height:260px;">

<img id="fadepic7" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/Hulk1_zpsirhekj65.jpg" alt="Incredible Hulk 1" style="width:190px;height:260px;">
<img id="fadepic20" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/Hulk2_zpsfvxsyekt.jpg" alt="Incredible Hulk 2" style="width:190px;height:260px;">
<img id="fadepic4" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/Hulk3_zpskjwiqjal.jpg" alt="Incredible Hulk 3" style="width:190px;height:260px;">
<img id="fadepic18" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/Hulk4_zpspvkpezkh.jpg" alt="Incredible Hulk 4" style="width:190px;height:260px;">
<img id="fadepic19" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/Hulk5_zps7mx5s8x8.jpg" alt="Incredible Hulk 5" style="width:190px;height:260px;">

<img id="fadepic16" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/DC1_zps9apqztfd.jpg" alt="Detective Comics 1" style="width:190px;height:260px;">
<img id="fadepic17" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/DC2_zpsd3o4lfca.jpg" alt="Detective Comics 2" style="width:190px;height:260px;">
<img id="fadepic6" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/DC3_zps1teujuuv.jpg" alt="Detective Comics 3" style="width:190px;height:260px;">
<img id="fadepic25" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/DC4_zps7ergkby3.jpg" alt="Detective Comics 4" style="width:190px;height:260px;">
<img id="fadepic5" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/DC5_zpsab75ziwy.jpg" alt="Detective Comics 5" style="width:190px;height:260px;">

<img id="fadepic26" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/FF1_zps0vib0rie.jpg" alt="Fantastic Four 1" style="width:190px;height:260px;">
<img id="fadepic27" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/FF2_zpsgypyy6bc.jpg" alt="Fantastic Four 2" style="width:190px;height:260px;">
<img id="fadepic28" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/FF3_zpsd3nhocws.jpg" alt="Fantastic Four 3" style="width:190px;height:260px;">
<img id="fadepic29" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/FF4_zpsur9wpg4d.jpg" alt="Fantastic Four 4" style="width:190px;height:260px;">
<img id="fadepic30" class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/FF5_zpswngsrjvc.jpg" alt="Fantastic Four 4" style="width:190px;height:260px;">

<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC1_zpsb0rthi5u.jpg" alt="Action Comics 1" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC2_zpspjh4amko.jpg" alt="Action Comics 2" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC3_zpsrlq3fovj.jpg" alt="Action Comics 3" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC4_zpsdyli6lr5.jpg" alt="Action Comics 4" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/AC5_zpsbxmsunus.jpg" alt="Action Comics 4" style="width:190px;height:260px;">

<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM1_zpsbukyq7jf.jpg" alt="Amazing Spider-Man 1" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM2_zpszwqw6xb1.jpg" alt="Amazing Spider-Man 2" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM3_zps9o3mefpm.jpg" alt="Amazing Spider-Man 3" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM4_zpsjgamo1zq.jpg" alt="Amazing Spider-Man 4" style="width:190px;height:260px;">
<img class="coverpic" src="http://i102.photobucket.com/albums/m115/joshqberry/ASM5_zpsoxwbrqth.jpg" alt="Amazing Spider-Man 4" style="width:190px;height:260px;">


</div>
